/* Bootstrap Override */

body {
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  margin: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}


.navbar {
  margin-bottom: 0;
}

.navbar-student {
  background-color: #860053;
  border: 0;
  border-radius: 0;
  color: #fff
}

.navbar-admin {
  background-color: #00D4C4;
  border: 0;
  border-radius: 0;
}

.navbar-mentor {
  background-color: #007488;
  border: 0;
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-brand {
  border: 1px solid white;
  font-weight: 700;
  height: auto;
  margin: 19px 0 !important;
  padding: 5px;
  text-transform: uppercase;
  color: white !important;
}

.dropdown-menu {
  margin-top: -10px;
}

.navbar-right .dropdown-menu {
  right: 15px;
}

.media-left {
  padding-right: 20px;
}

/* Custom */

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-profile {
  padding: 15px;
}

.navbar-profile img {
  height: 40px;
  border-radius: 4px;
}

.navbar-profile:hover {
  cursor: pointer;
}

.page_header {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  margin: 0 0 20px 0;
  padding: 20px 0;
}

.page_header h3 {
  font-weight: 300;
}

.page_header span {
  color: #337ab7;
}

.login {
  background-color: #fff;
  border-radius: 5px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.login_title {
  font-weight: 300;
  margin: 0 0 20px 0;
}

.login_github {
  font-weight: 700;
}

.login_github .octicon {
  display: block;
  margin: 0 auto 10px auto;
}

.admin_dashboard_span {
  float: right;
  padding-right: 0 20px 0 0;
}

.admin_dashboard_title {
  float: right;
  padding: 0 0 15px 0;
}

.add_user_form {
  border-bottom: 2px solid #ccc;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
}

.ticket_submission_form {
  border-bottom: 2px solid #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

#ticket_submission_description {
  height: 34px;
  resize: none;
  transition: all 0.5s ease;
}

#ticket_submission_description:focus {
  height: 102px;
}

#ticket_submission_area {
  margin-top: 10px;
}

.feedback{
  padding: 20px;
}

#wait_time {
  color: white;
}

.ticket_list_entry {
  color: #333;
  line-height: 22px;
}

.ticket_list_entry_meta {
  float: left;
}

.ticket_list_entry_name {
  float: left;
  font-weight: 700;
  margin: 0 3px 0 0;
}

.ticket_list_entry_time {
  float: left;
  font-size: 11px;
  font-weight: 700;
  margin: 0 3px 0 0;
}

.ticket_list_entry_claimed {
  float: left;
  font-size: 11px;
  font-weight: 700;
}

.ticket_list_entry_buttons {
  float: right;
}

.ticket_list_entry_buttons .btn {
  margin: 0 5px 0 0;
}

.ticket_list_entry_description {
  clear: both;
}

.isession_button {
  float: right;
}

#chat {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-right: .5%;
  box-sizing: border-box;
}

.chatInput {
  margin: 0;
  padding: 0;
  width: 94%;
  margin-right: .5%;
  box-sizing: border-box;
}

.chatButton {
  width: 5%;
  margin: 2px;
  box-sizing: border-box;
}

#chat li:nth-child(odd) {
  background: #eee;
}

.chatEntry {
  padding: 5px 10px;
  width: 100%;
  margin-right: .5%;
}

.alert {
  margin: 0 0 10px 0;
  padding: 7px 7px 7px 10px;
}

.alert-main {
  border-radius: 0;
  font-weight: 700;
  position: fixed;
  text-align: center;
  top: -36px;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 1;
}

.alert-default {
  background-color: #fff;
  border: 1px solid #ddd;
}

.error {
  border-color: #a94442 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
}

.row-3 {
  display: flex;
  margin: 3px;
  justify-content: flex-start;
}

.mentor-section {
  border: 1px solid;
  width: 240px;
  height: 30px;
  text-align: center;
  margin-left: 3px;

}

.station {
  border: 1px solid;
  width: 40px;
  height: 30px;
  text-align: center;
  background-color: lightblue;
  opacity: 0.7;
  /*line-height: -10px;*/
}

.station:hover {
  background-color: lightblue;
  opacity: 1;
}

.station:active {
  border: 4px solid white;
}
.star-station {
  display: inline-block;
  border: 1px solid;
  width: 30px;
  height: 30px;
  margin: 2px;
  text-align: center;
  background-color: lightblue;
  opacity: 0.7;
  border: 3px solid #73AD21;
  /*line-height: -10px;*/
}

.star-station:hover {
  background-color: lightblue;
  opacity: 1;
}

.star-station:active {
  border: 4px solid white;
}

.row-2 {
  display: flex;
  margin: 3px;
  justify-content: flex-start;
  margin-left: 83px;
}

.row-two-station {
  border: 1px solid;
  width: 80px;
  height: 30px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

span {
  position: relative;
  top: 18%;
}

.htable {
  position: relative;
  top: 19%;
}
.dim {
  background-color: white;
  border: 1px Gainsboro solid;
}

.numberInPair {
  font-size: 14px;
  line-height: 19px
}

#myModalFeedback {
  width: 700px;
  max-height: 1000px;
}
.modal-header{
  background-color:#ccc;
}

#review_description {
  height: 34px;
  resize: none;
  transition: all 0.5s ease;
}
/*
.selected-station {
  background-color: blue;
}*/
